*{
    margin :0;
    padding: 0;
}

body{
    background-image: url('honeycomb.png');
    /*background-size: cover;*/
    overflow: hidden;
    height: 100vh;
}
.video{
    display: flex;
    justify-content: center;
    height: 110%;
    width: 100%;

}
.taskbar{
    size: 1%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgb(243, 243, 243);
    z-index: 110;
}
.right{
    position: absolute;
    right: 0;
}
.startmenu{
    
    max-height: max-content;
    position: absolute;
    bottom:-655px ;
    width: 90%;
    text-align: center;
    transition: all 0.3s ease-in;
}
.startmenu img{
    border-radius: 8px;
}
.icons{
    font-size: small;
    font-weight: bold;
   font-family: "Times New Roman", Times, serif;
}
